* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(143 , 143 , 233);
}

#hero-title {
  margin-bottom: 10px;
}

#input-div {
  text-align: center;
  border: 2px solid black;
  width: 350px;
  padding: 20px;
  margin: 15px auto;
}

#btn-create {
  width: 80px;
  height: 29px;
  vertical-align: top;
}

#text-input {
  margin-bottom: 10px;
  width: 200px;
  height: 25px;
  display: inline-block;
}

#meme-image-container {
  margin: auto;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: white;
}

#meme-text {
  position: relative;
  top: 400px;
  width: 90%;
  height: 100px;
  color: white;
  font-size: 35px;
  font-weight: 700;
  margin: auto;
  text-shadow: 3px 2px 3px blue;
}