* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(143 , 143 , 233);
}

#hero-title {
  margin-bottom: 5px;
}

#input-div {
  text-align: center;
  border: 2px solid black;
  width: 350px;
  padding: 5px;
  margin: 10px auto;
}

#text-input {
  margin-bottom: 10px;
  width: 200px;
  height: 25px;
  display: inline-block;
}

#meme-image-container {
  margin: auto;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  background-color: white;
  z-index: 0;
}

#meme-image {
  z-index: 0;
  width: 100%;
  height: 100%;
}

#meme-text {
  overflow: hidden;
  position: relative;
  width: 95%;
  height: 25%;
  top: 75%;
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin: auto;
  text-shadow: 5px 5px 5px black;
  z-index: 2;
}

#image {
  overflow: hidden;
  position: relative;
  top: -100px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#btn-div {
  width: fit-content;
  margin: 20px auto;
}

#fire, #water, #earth {
  width: 80px;
  height: 30px;
  font-size: 15px;
  font-weight: 700;
  margin: 5px;
  border-radius: 5px;
}
